<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net472" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net472" />
  <package id="DynamicData" version="6.9.0.2586" targetFramework="net472" />
  <package id="InstagramApiSharp" version="1.4.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="2.6.0-ci1366" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="obs-websocket-dotnet" version="4.2.0-beta3" targetFramework="net472" />
  <package id="ReactiveUI" version="10.0.1-preview.2" targetFramework="net472" />
  <package id="ReactiveUI.WPF" version="10.0.1-preview.2" targetFramework="net472" />
  <package id="Splat" version="7.0.8" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.2.0-preview.102" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net472" />
</packages>